@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /><meta charset="UTF-8">
    <title>LivWell Store</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
   <header>
       <img src="~/Content/Images/LW Logo.png"/>
       <h1>Welcome!</h1>
       <p>We live in a quick-fix culture where we are constantly told by advertisements that a pill or miracle cure is going to fix all our woes. Whether it is stress, anxiety, or poor health, our current culture focuses far too much on the elusive after-the-fact miracle "cure" instead of prevention. Yet, if we simply focused on improving our daily habits, our health and well-being would improve dramatically. This is where a daily wellness routine is essential. Each Product in our store can help you achieve optimal wellness in your daily life. </p>
   </header>
    <nav>
        <h2>Select a Category to Get Started: </h2>
        
        <ul>
            @*<li>@Html.ActionLink("Stress Relief", "StressReliefList", "Shop")</li>
            <li>@Html.ActionLink("Body Care", "BodyCareList", "Shop")</li>
            <li>@Html.ActionLink("Meditation", "MeditationList", "Shop")</li>
            <li>@Html.ActionLink("Exercise", "ExerciseList", "Shop")</li>*@
    
        </ul>
    </nav>
    <section class="centeredPanel">
        @RenderBody()
    </section>
</body>
</html>